*{
    padding: 0px;
    margin: 0px;
}
html{
    background-color: #cecece;
}
.btn,
.btn:focus{
    box-shadow: none;
    outline: none;
}
.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
    color: rgb(41, 30, 30) !important;
}
.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: 0.3s;
    background: #3f3f3f;
    z-index: 1;
}
.navbar-brand{
    font-family: 'Courgette', cursive;
}
/*////// Navber end //// */


/*///////// Home //////////// */

/* .Home{
    top: 0;
    height: 70vh;
    background-image:url("/home.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* z-index: -1; */
    /* position: absolute; */
/* } */
.home-text{
    height: 73vh;
    background-image: url('/home2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* transform: translate(-50% , -50%); */
   /* border: 2px solid #000; */
}
.home-text h1{
    color: #d8e1e4 !important;
    font-size: 5vw;
}
.call-btn:hover{
    background-color: #c7c7c7 !important;
    color: #000 !important;
    transition: 0.5s all;
}
/* /////// Home end ///// */




/*//////// About start //////// */
.About{
    background-color: azure;
}
.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 4vw;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    color: #5590b3;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    letter-spacing: -5px;
    
}
@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
}

.about-text{
    height: 310px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000;
    position: relative;
    left: 14px;
    background-color: #fdfeff;
    display: flex;
    align-items: center;
}
.about-text p{
    color: #5b879c;
}

.about-img{
    height: 380px;
    background-image: url('/sWater.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* //////// Anout End /////// */


/* /////// services end ////// */

.footer{
    height: 12vh;
    background-color: #e2e2e2;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.footesr-heading{
    color: #5590b3;
}
.footes-img{
    width: 40px;
    height: 40px;
    text-align: end;
}
.footes-img img{
    width: 100%;
    height: 100%;
}
/* call button */

.call-scroll-btn{
    position: fixed;
    top: 16%;
    background-color: #a5a2a2;
    right: 1px;
    z-index: 1000;
}

/* /call button */

.display{
    display: none;
}

/* what's App */
.whatsApp{
    width: 35px;
    height: 35px;
    position: fixed;
    z-index: 1000;
    top: 22%;
    right: 1px;
    border-radius: 10px;
    cursor: pointer;
}
.whatsApp img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
/* /what's App */

@media(max-width:991px){
    .navbar-nav{
        background-color: rgba(185, 184, 184, 0.3);
        transition: 0.4s all;

    }
    .home-text h1{
        font-size: 6vw;
    }
    .waviy{
        font-size: 6vw;
    }
    .fname{
        margin-bottom: 10px;
    }
}
@media(max-width:720px){
    .home-text{
        width: 100%;
    }
    .home-text h1{
        font-size: 9vw;
    }
    .home-text h5{
        font-size: 4vw;
    }
    .waviy{
        font-size: 7vw;
    }

}

@media(max-width:420px){
    .waviy{
        font-size: 36px;
        letter-spacing: 2px;
    }
    .about-text{
        /* height: 80vh; */
        text-align:start !important;
        position: inherit;
    }
}

/* @media(max-width:){
    
} */

/* @media(max-width:450px){
    .Home{
        height: ;
        background-size: contain;
    }
} */